.container2 {
    width: 90%;
    max-width: 1300px;
    background-color: #ffe8e8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    left: 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header .title {
    font-size: 18px;
    font-weight: bold;
}

.header .date {
    font-size: 14px;
}

.content {
    display: flex;
    gap: 20px;
}

#titulo1{
    position: relative;right: 28px;
}

.sidebar {
    width: 30%;
    max-height: 320px; /* Altura máxima que permite ver 3 bloques de 100px cada uno con 10px de margen */
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-y: auto; /* Habilita el scroll cuando hay más de 3 bloques */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar .item {
    height: 100px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

.main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-box {
    height: 320px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
    .container2 {
        width: 90%;
        padding: 10px;
        left: auto;
    }
    .header {
        flex-direction: column;
        text-align: center;
    }
    .content {
        flex-direction: column;
    }
    .sidebar, .main-content {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .header .title, .header .date {
        font-size: 1rem;
    }
    .info-box {
        height: auto;
        padding: 15px;
    }
    .sidebar .item {
        height: auto;
        padding: 15px;
    }
    .sidebar {
        max-height: 195px; /* Altura máxima que permite ver 3 bloques de 100px cada uno con 10px de margen */
        background-color: #f8f8f8;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        overflow-y: auto; /* Habilita el scroll cuando hay más de 3 bloques */
    }
}
